.row {
	height: 100%;
}

.visualizationHalf {
	background-color: #33333d;
	height: 100%;
}

.binaryTreeHalf {
	background-color: #33333d;
	height: 100%;

}

.visCanvasContainer {
	overflow: scroll;
    width: 100%
}

.halfContainer {
	height: 92%;
	width: 92%;
	margin: auto;
	margin-top: 30px;
	background-color: #555564;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
    padding: 10px;
}

.pageContainer {
	height: calc(100% - 40px);
	background-color: #33333d;
	//padding: 20px
}
.timelineContainer {
    margin-top: 20px;
}
.binaryTreeCanvasContainer {
    height: 60%;
}
.binaryTreeCanvas {
    height: 100%
}

.hiddenPanel {
    display: none !important;
}
