.row {
	height: 100%;
}

.visualizationHalf {
	background-color: #33333d;
	height: 100%;
}

.binaryTreeHalf {
	background-color: #33333d;
	height: 100%;

}

.visCanvasContainer {
	overflow: scroll;
}

.halfContainer {
	height: 92%;
	width: 92%;
	margin: auto;
	margin-top: 30px;
	background-color: #555564;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
    padding: 10px;
}

.pageContainer {
	height: 100%;
	background-color: #33333d;
	//padding: 20px
}
.timelineContainer {
    margin-top: 20px;
}
