$controlBarHeight: 80px;

.dataGridContainer {
    height: 100%;
}

.controlBar  {
    height: $controlBarHeight;
}
.dataGridWrapper {
    height: calc(100% - $controlBarHeight);
    background-color: white
}

.showJobsLabel {
    height: 10px;
}


.headerRender {
    width: 100% !important
}

.MuiDataGrid-columnHeaderTitleContainerContent {
    width: 100%
}

.tableHeaderSpacer {
    width: 5px;
}

.removeButton {
    cursor: pointer ;
}

.orderButton {
    cursor: pointer;
}

