$panelPadding: 10px 30px 10px 30px;
$color-status-cancelled: #dc3545;
$color-status-inProgress: #0d6efd;
$color-status-done: #198754;
$backgroundColorPanel: #555564;
$backgroundColorPage: #33333d;
$pageHeight: calc(100% - 40px);
$panelShadow: 0px 4px 4px rgba(0,0,0,0.25);
$panelBorderRadius: 10px;


:export {
    colorStatusInProgress: $color-status-inProgress;
    colorStatusCancelled: $color-status-cancelled;
    colorStatusDone: $color-status-done;
}
.submitPagePanel {
    background-color: $backgroundColorPanel;
    margin: auto;
    height: calc(100% - 40px);
    width: 100%;
    border-radius: $panelBorderRadius;
    box-shadow: $panelShadow;
    padding: $panelPadding;
}

.lowerPanel {
    width: calc(100% - 10px);
    margin-top: 10px;
}

.lowerPanelLeft {
    margin-right: 10px;
}

.lowerPanelRight {
    margin-left: 10px;
}

.upperPanel {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
