$panel-padding: 10px 30px 10px 30px;
$color-status-cancelled: #dc3545;
$color-status-inProgress: #0d6efd;
$color-status-done: #198754;


:export {
    colorStatusInProgress: $color-status-inProgress;
    colorStatusCancelled: $color-status-cancelled;
    colorStatusDone: $color-status-done;
}
