.loginPage{
    background-color:#33333d;
    margin:0%;
    margin-left:0%;
    margin-right:0%;

    width: 100%;
    width: 100vw;
    height: 100%;
}

.formContainer{
    background-color: #555564;
    width: 50%;
    padding-top: 5%;
    padding-bottom: 5%;
    border-radius: 2%;
    box-shadow: 5px 10px;

}

.formContainer {
	background-color: #555564;
	width: 25%;
	padding: 5%;
	border-radius: 2%;
}

.loginSlogan {
	color: white;
}
