.loginPage{
    background-color:#33333d;
    margin:0%;

    width: 100%;
    width: 100vw;
}

.formContainer{
    background-color: #555564;
    width: 25%;
    padding: 5%;
    border-radius: 2%;
}

.loginSlogan{
    color: white;
}