.dependencyTable {
    background-color: white;
    height: 85%;
    overflow-y: scroll
}

.dependencyTableCell {
    padding-left: 10px !important;
    padding-right: 10px !important
}

.dependencyTableHeader {
    padding-top: 7px !important;
    padding-bottom: 7px !important;

    border-bottom: 1px solid black;
}

.dependencyTableFirstColumn {
    border-right: 1px solid black;
}

.dependencyTableLastColumn {
    width: 110px;

}
