.dependencyTable {
    background-color: white;
}

.dependencyTableRow {
    padding-left: 10px !important;
}

.dependencyTableHeader {
    padding-top: 7px !important;
    padding-bottom: 7px !important;
    border-bottom: 1px solid black;
}
