.addDescriptionButton {
    width: 200px;
    margin: 10px 0px 10px 0px;
}

.selectedFilesContainer {
    height: 100%;
    overflow-y: scroll;
}

.fileDescriptionContainer {
    height: 80%
}

.selectedFilesHeader {
    width: fit-content
}

.selectedFileDisplay {
    width: fit-content;
    margin-top: 4px;
}
