.textFieldDescriptionContainer {
    height: 100%
}

.textFieldTextArea {
    width: 100%;
    height: 100%;
    resize: none;
    white-space: nowrap;
}

.textFieldPickerButtons {
    margin-top: 10px;
    margin-bottom: 10px;
    gap: 10px;
   
}
