.detailsContainer {
    height: 180px;
    color: white;
    width: 90%;
    
}
.headerContainer {
    width: 100%;
    border-bottom: 1px solid white;
}
.jobName {
    font-size: 20px;
}

.body {
    margin-top: 20px;
}
