.timelineContainer {
    width: 100%
}

.sliderContainer {
    width: 90%
}

.speedContainer {
    width: 90%;
    color: white;
    margin-top: 10px;
}

.replaySpeedLabel {
    margin-right: 20px;
}

.replaySpeedInput {
    width: 100px;
    height: 36px;
    //border-radius: 4px;
    //border: 1px solid black;
    padding-left: 10px;
}

.controlButton {
    width: 60px;
    height: 40px;
    padding: 0px;

}

.pauseButton {
    margin-left: 10px;
}
