
@use  'src/global/global' as *;
.jobPageContainer {
    height: calc(100% - 40px);
    background-color: #33333d;
    color: white;
}

.jobPageRow {
    height: 50%;

}

.jobPageColumn {
    height: 100%;
}


.jobPagePanel {
    background-color: #555564;
    margin: auto;
    //display: grid; width: 100%;
    //height: 100%;
    //margin-top: 40px;
    height: calc(100% - 40px) ;
    width: calc(100%);
    border-radius: $panelBorderRadius;
	box-shadow: $panelShadow;
    //height: 90%;
    padding: $panelPadding
    //width: 90%

}
.lowerPanel {
    width: calc(100% - 10px);
    margin-top: 10px;
    //width: 90%
}

.lowerPanelLeft {
    margin-right: 10px;
}
.lowerPanelRight {
    margin-left: 10px;
}

.upperPanel {
    margin-top: 30px;
    //kj wwidth: 94%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;


}
.marginContainer {
    display: block;
    margin: auto;
    width: 80%;
    height: 100%
}

.jobPageRow {
    height: 50%
}

.infoPanel {
    padding: $panelPadding;
    //overflow-y: scroll;

}


.infoPanelContainer {
    width: 100%;
    height: 80%
}
.parameterDisplay {
    width: 70%;
    height: 100%;
    overflow: scroll;
    gap: 20px;
    align-content: flex-start
}
.submitAndStatus {
    width: 200px;
    height: 100%;
}

.statusTitle {
    text-align: left;
    margin-top: 20px;
    margin-bottom: 0.5rem;
}

.embeddedPageContainer {
    height: 100%;
    overflow: scroll;
    padding: $panelPadding;
}
