.registerPage {
	background-color: #33333d;
	margin: 0%;
	margin-left: 0%;
	margin-right: 0%;

	width: 100%;
	width: 100vw;
	height: calc(100% - 40px);
}

.pageContent {
	background-color: #555564;
	padding: 3%;
	margin: 2%;
	border-radius: 10px;
}

.separator {
	margin: 0;
	color: #33333d;
}

.warnings {
	background-color: white;
	width: 100%;
	border-radius: 10px;
	padding: 1%;
	background-color: orange;
}

.diagnosticsContainer {
	background-color: white;
	width: 50%;
	border-radius: 10px;
	padding: 1%;
}

.navbar {
	width: 100%;
}

.mallobButton {
	font-size: 100%;
	margin: 1%;
	width: 80%;
}

.mallobButtons {
	width: 20%;
	background-color: white;
	border-radius: 10px;
	padding: 1%;
}

.warningsElement {
	width: 100%;
	height: 20%;
	padding-top: 1%;
	text-align: left;
	padding-left: 1%;
    overflow: wrap;
}

.warningsElementOne {
	background-color: lightgrey;
}

.warningsElementTwo {
	background-color: white;
}

//navbar
nav ul {
	height: 200px;
	width: 18%;
}
nav ul {
	overflow: hidden;
	overflow-y: auto;
}
